.masonry-list-container {
  margin: 0 auto;
  position: relative;
}
.masonry-item {
  // width: 100%;
  // border: 1px solid #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 0px 6px 2px #673ab7;
    transform: translateY(-3px) scale(1.01);
    z-index: 100;
  }
  .masonry-cover-img {
    width: 100%;
    cursor: zoom-in;
  }
  .masonry-meta {
    padding: 10px 15px;
    height: 65px;
  }
  .masonry-action-wrap {
    border-top: 1px solid #e6e6e6;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    .masonry-action-box {
      cursor: pointer;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      padding: 0 10px;
      .masonry-action-item {
        position: relative;
        flex-grow: 1;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child::before {
          display: none;
        }
        &:hover svg {
          transform: scale(1.3);
        }
        &::before {
          content: '';
          display: inline-block;
          width: 1px;
          height: 12px;
          background: #e6e6e6;
          // margin: 0 10px;
          position: absolute;
          left: 0;
          top: 5px;
        }
      }
    }
    svg {
      font-size: 18px;
      transition: all 0.3s;
    }
  }
  .prompt {
    //最多两行，超出部分省略号
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
  }
}

.no-more-tips {
  text-align: center;
  padding: 10px;
  font-size: 13px;
  color: #cecece;
}
